* {
  margin: 0;
  padding: 0;
  list-style: none;
}


html,
body {
  background-color: #141214;
  color: white;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
scroll-behavior: smooth;

}
.flex-row{
  display: flex;
  justify-content: center;
  align-items:center ;
}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
}

.btn{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: .75rem;
}
.btn:hover{
  text-shadow: 0 0 .5rem white;
}
a{
  text-decoration:none ;
  color: white;
  font-weight: 500;
}

body::-webkit-scrollbar {
  width: 5px;               
}
body::-webkit-scrollbar-track {
  background:#141214 ;       
}
body::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */

}


.header-section {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  height: 60px;
position: fixed;
top: 0;
width: 100%;
z-index: 1;
padding: 0;
/* margin-bottom: 5rem; */

}

.bg-grey{
  background-color: #141214;
}

.header-left {
  display: flex;

}

.header-left img {
  height: 60px;
  margin: 0px 30px;
  transition: all 0.5s;
}

.header-left img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.header-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.header-left ul li {

  margin-left: 20px;
  
  transition: all 0.2s;
  font-weight: 500;
  text-shadow:0 0 .2rem black;
}

li:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
  transform: scale(1.1);
  text-shadow:0 0 0 ;
}



/* .header-right */

#search{
  appearance: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
text-align: center;
position: relative;
bottom: 27px;
background-color: transparent;
border: 0.5px solid rgb(195, 194, 194);
/* display: none; */
border-radius: 30px;
color: white;
/* z-index: 100; */
}



.header-right img {
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  

}

.header-right img:hover {
  cursor: pointer;
 
}

.header-right svg {
  height: 50px;
  margin: 7px 20px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;

}

.header-right svg:hover {
  cursor: pointer;
  color: rgb(231, 85, 85);
  transform: scale(1.3);
}


.bannerSection{
  width: 100%;
  
}
.bannerSection img{
width: 100%;



}



#banner{
  background-image:linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url();
  height: 100vh;
  background-repeat: no-repeat;
    background-size: cover;


}
.bannerText{
  position: absolute;
  top: 15rem;
  left: 5rem;
  max-width: 50vw;
  text-shadow:0 0 .2rem black;
}
.banner button{
background-color: #129cff;
color: black;
padding: .75rem;
width: fit-content;
font-weight: 700;
margin: 2rem 0;
border-radius: .5rem;
font-size: 1rem;
transition: all ease .5s;
}
.banner button:hover{
  background-color: #004d84; 
  color: white;
}
.BannerMovieDetail{
  gap: 1rem;
  justify-content: flex-start;
}



.movieSection{
  margin: 2rem 2rem ;
}
.movieSection h3{
  margin: 1rem 0;
}

.movieCards{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: .75rem;
  overflow-x: scroll;
  /* overflow-y: visible; */
  

}
.movieCards img{
  height: 9rem;
}
.movieCards::-webkit-scrollbar{
  display: none;
}


.singleCard{
  border: .1rem solid rgb(48, 48, 48);
  border-radius: .5rem;
  padding: .75rem;
  height: 13rem;
transition: all .5s ease;

}
.singleCard:hover{
box-shadow: 0 0 1rem rgb(48,48,48);
  cursor: pointer;
}
.movieDesc{
  display: flex;
  flex-direction: column;
  width: 100%;
margin: .75rem 0;
  justify-content: center;
  align-items: flex-start;
gap: .25rem;

}
.movieRating{

  justify-content: space-between;
}




.rating{
  justify-content: space-between;
  width: 100%;
  font-size: .75rem;
}
 
.rating Rating{

  font-size: .75rem;
}
 


.projectDetailModal .desc {
  font-size: 1.3rem;
  margin: 2rem 0;
}
.projectDetailModal a {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  color: var(--text-color);
}
.projectDetailModal a:hover {
 text-shadow: o o .5rem var(--main-color);
}

.modalHeading {
  margin: 3rem 0 0 0;
  text-align: center;
  
}
.services__modal {


  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(5px);

  z-index: 300;
}

.serviceModalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  height: 30rem;
  border-radius: 1.5rem;
  background-color: #2a2a2a;
  color: var(--text-color);
  box-shadow: 0rem 0rem 1rem black;
  border-radius: 2rem;
  

  padding: 2rem;

}


.singleProject .serviceModalContent {
  width: 30rem;
  height: 53rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;

} 
.modalClose{
  position: absolute;
  top: 1rem;
  right: 2rem;
 font-size: 2rem;
}
.serviceModalContent h3 {
  font-size: 2rem;
}


.movieTrailer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  border-radius: 1rem;
}
.movieDetails{
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.movieDetails h3{
 text-shadow: 0 0 .5rem white;
 
}
.movieDetails div{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 font-size: 1rem;
 gap: .3rem;
}
.movieDetails h3{
  margin: 0;
}


.mainModalContent{
align-items: center;
height: 100%;
}





/* Reset default styles for the button */
button, a {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}

/* Style the button container */
.button-container {
  text-align: center;
  margin:1rem 0;
}

/* Style the subscribe button */
.subscribe-button {
  display: inline-block;
  padding: 15px 30px;
  /* background-color: #E50914; Netflix red color */
  background-color: #129cff;  /* Netflix red color*/
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: #004d84; 
}


.shows{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  width: 100%;

}
.shows h2{
  margin: 2rem 4rem;

}


.tvShows{
  display: flex;
  justify-content: center;
width: 100%;
  flex-wrap: wrap;
}

/* responsive  */

@media only screen and (max-width: 800px){
  .header-left img {
    height: 30px;
    align-items: center;
  }
  .header-left {
  display: flex;
    align-items: center;
  }
  .header-left ul li {
 font-size: .6rem;
  }
	.banner{
    /* width: 100vw; */
   font-size: .75rem;
   height: 80vh!important;
   background-position: center;
  }
	.banner button{
  
   font-size: .5rem;
  }
  .bannerText{
    position: absolute;
    top: 15rem;
    left: 1rem;
    max-width: 70vw;
    text-shadow:0 0 .2rem black;
  }
  .movieSection{
    margin: 2rem 1rem ;
  }
  .mainModalContent{
    flex-direction: column;
    justify-content: center;
  }
  .movieTrailer{
  
    
    width: 90vw;
   
  }
}